---
layout: default
title: Blog
---
<div class="fluid-container">
  <div class="home">
    <!-- {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%} -->

    <div id="page-hero" class="mb-1">
      <h1>Programming Mastery</h1>
      <span style="display:block"> A set of tutorial to help you master the art of programming</span>
    </div>


    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading mb-1">{{ page.list_title | default: "Tutorials" }}</h2>
    <article id="home-content">
      <div class="post-list">
        {%- for post in site.posts -%}
        <div class="post mb-1  p-2">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <div class="post-image">
            {%- if post.image-url -%}
            <img src="{{post.image-url}}" alt="">
            {%- endif -%}
          </div>
          <div class="post-description">
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <div class="post-meta mt-1">
              <span class="post-date">
                {{ post.date | date: date_format }}
              </span>
              {%- for tags in post.tags-%}
              <span class="post-tags">
                {{ tags }}
              </span>
              {%- endfor -%}
            </div>
            {%- if site.show_excerpts -%}
            <p>{{ post.excerpt }}</p>
            {%- endif -%}
          </div>

        </div>
        {%- endfor -%}
      </div>
      <div id="creator-presentation">
        <div class="presentation-header">
          <h3>
            About Me
          </h3>
          <div>
            <img src="assets/avatar.jpg" width="200px" alt="">
          </div>
        </div>

        <p class="mt-1 presentation-description">
          Hey , there my name is <b>Emmanuel N’goran</b> ,
          I am a passinate software analyst and researcher
          currently living in Canada
        </p>
      </div>
    </article>



    {%- endif -%}
  </div>
</div>